{% extends 'base.html' %}
<!--page-->
<!--banner-->
{% block container_intro_wrapper %}
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">
                {#            <h1>Skills and Goals</h1>#}
                <h1 class="title">All About Us</h1>

                <h1 class="intro">
                    Our experienced consultants offer deep industry knowledge in <span class="hue">Communications, Technology,
                    Financial Services, Transportation and Manufacturing</span>, and Retail intersected with Digital
                    Transformation solutions in the <span>Digital, Mobile</span> space. We provide a
                    sustainable  competitive advantage, and our strong track record proves that we know how to navigate
                    our clients through today’s challenges and help them build for the future.</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block container_wrapper %}
    <div class="container wrapper">
        <div class="inner_content">
            <div class="pad30"></div>

            <div class="main fadeinup">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime"><span>2016</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2>Mr. Fogg Returned On Board</h2>
                            <p>Mr. Fogg and his servant went ashore at Aden to have the passport again visaed; Fix,
                                unobserved, followed them. The visa procured, Mr. Fogg returned on board to resume his
                                former habits; while Passepartout, according to custom, sauntered about among the mixed
                                population of Somalis, Banyans, Parsees, Jews, Arabs, and Europeans who comprise the
                                twenty-five thousand inhabitants of Aden. He gazed with wonder upon the fortifications
                                which
                                make this place the Gibraltar of the Indian Ocean, and the vast cisterns where the
                                English
                                engineers were still at work, two thousand years after the engineers of Solomon.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime"><span>2015</span></time>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>All Thirteen Of The Tricks</h2>
                            <p>Phileas Fogg was in the act of finishing the thirty-third rubber of the voyage, and his
                                partner and himself having, by a bold stroke, captured all thirteen of the tricks,
                                concluded
                                this fine campaign with a brilliant victory.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime"><span>2014</span></time>
                        <div class="cbp_tmicon cbp_tmicon-mail"></div>
                        <div class="cbp_tmlabel">
                            <h2>Since His Departure</h2>
                            <p>The Mongolia was due at Bombay on the 22nd; she arrived on the 20th. This was a gain to
                                Phileas Fogg of two days since his departure from London, and he calmly entered the fact
                                in
                                the itinerary, in the column of gains..</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime"><span>2013</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2>The British Crown Exercises</h2>
                            <p>Everybody knows that the great reversed triangle of land, with its base in the north and
                                its
                                apex in the south, which is called India, embraces fourteen hundred thousand square
                                miles,
                                upon which is spread unequally a population of one hundred and eighty millions of souls.
                                The
                                British Crown exercises a real and despotic dominion over the larger portion of this
                                vast
                                country, and has a governor-general stationed at Calcutta, governors at Madras, Bombay,
                                and
                                in Bengal, and a lieutenant-governor at Agra.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="span12">

                    <!--skill bars-->
                    <h2>Our Skills</h2>

                    <div class="progress">
                        <div class="bar" data-percentage="80">
                        </div>
                    </div>
                    <small>HTML5+CSS+JQUERY</small>

                    <div class="progress">
                        <div class="bar" data-percentage="90">
                        </div>
                    </div>
                    <small>PYTHON DEVELOP</small>

                    <div class="progress">
                        <div class="bar" data-percentage="85">
                        </div>
                    </div>
                    <small>JAVA DEVELOP</small>

                    <div class="progress">
                        <div class="bar" data-percentage="85">
                        </div>
                    </div>
                    <small>IOS ANDROID DEVELOP</small>

                    <div class="pad45 hidden-desktop"></div>
                </div>
                {#            <!--testimonial-->#}
                {#            <div class="span4 pad15">#}
                {#                <div class="testimonial1">#}
                {#                    <p><i class="fa fa-comments fa-4x pull-left hue"></i>#}
                {#                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.#}
                {#                        Suspendisse potenti.#}
                {#                        Vivamus purus arcu, commodo cursus egestas et, dictum lobortis dui. Curabitur at mi eu mi#}
                {#                        sollicitudin faucibus at at libero.</p>#}
                {#                </div>#}
                {#                <div class="center">#}
                {#                    <p>#}
                {#                        <small>QUOTE AUTHOR</small>#}
                {#                    </p>#}
                {#                </div>#}
                {#                <div class="pad45 hidden-desktop"></div>#}
                {#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block strip %}
    <!--strip-->
    <div class="strip">
        <h1 class="center">Get A Free Quote</h1>
{#        <h3 class="center about_strip">Ecilisis venenatis risus, suspendisse ac nec et. Nulla sed mauris, congue duis#}
{#            proin#}
{#            nonummy. Elementum phasellus#}
{#            mauris sed nulla sed, egestas feugiat a dictum libero vivamus purus arcu, commodo cursus egestas et.</h3>#}
{#        <div class="pad45"></div>#}

        <a href="contact.html" class="big_button">Contact Us Today</a>
        <div class="pad25"></div>
    </div>
    <!--/strip-->
{% endblock %}


{% block script %}
    <!-- skills -->
    <script>
        //<![CDATA[
        setTimeout(function () {
            $('.progress .bar').each(function () {
                var me = $(this);
                var perc = me.attr("data-percentage");
                var current_perc = 0;
                var progress = setInterval(function () {
                    if (current_perc >= perc) {
                        clearInterval(progress);
                    } else {
                        current_perc += 1;
                        me.css('width', (current_perc) + '%');
                    }
                    me.text((current_perc) + '%');
                }, 20);
            });
        }, 300);
        //]]>
    </script>
{% endblock %}