{% extends 'base.html' %}
<!--page-->
<!--banner-->
{% block container_intro_wrapper %}
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">
                {#            <h1>Skills and Goals</h1>#}
                <h1 class="title">All About Us</h1>

                <h1 class="intro">
                    Our experienced consultants offer deep industry knowledge in <span class="hue">Communications, Technology,
                    Financial Services, Transportation and Manufacturing</span>, and Retail intersected with Digital
                    Transformation solutions in the <span>Digital, Mobile</span> space. We provide a
                    sustainable  competitive advantage, and our strong track record proves that we know how to navigate
                    our clients through today’s challenges and help them build for the future.</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block container_wrapper %}
    <div class="container wrapper">
        <div class="inner_content">
            <div class="pad30"></div>

            <div class="main fadeinup">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime"><span>2016</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2>Abilities</h2>
                            <p>We have implemented practices of CMMI Level 3 model at our software development
                                projects and the company’s offsite and onsite operation centers.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime"><span>2015</span></time>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>A Partner You Can Trust</h2>
                            <p>Hui Yu has broad customer relationships in major niche markets.
                               In the telecommunications and IS markets, some of our customers include
                                Huawei, isoftstone, ZTE, Fiberhome, China telecom, Wanke, e-Hualu, Sino Pharm.
                                HuiYu is currently relied upon to provide world-class IT services to industry giants
                                in the information technology and communications industry.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime"><span>2014</span></time>
                        <div class="cbp_tmicon cbp_tmicon-mail"></div>
                        <div class="cbp_tmlabel">
                            <h2>We founded in 7th July 2014</h2>
                            <p>Hui Yu (China) Technology Co., Ltd. is located in the National
                                High-tech Development Zone - China Optics Valley software park.
                                Now we have more than 40 developers with Java, Python, C/C++,
                                IOS and Android and other skills.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime"><span>2013</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2>Ability to design mobile solutions</h2>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="span12">

                    <!--skill bars-->
                    <h2>Our Skills</h2>

                    <div class="progress">
                        <div class="bar" data-percentage="80">
                        </div>
                    </div>
                    <small>HTML5+CSS+JQUERY</small>

                    <div class="progress">
                        <div class="bar" data-percentage="90">
                        </div>
                    </div>
                    <small>PYTHON DEVELOP</small>

                    <div class="progress">
                        <div class="bar" data-percentage="85">
                        </div>
                    </div>
                    <small>JAVA DEVELOP</small>

                    <div class="progress">
                        <div class="bar" data-percentage="85">
                        </div>
                    </div>
                    <small>IOS ANDROID DEVELOP</small>

                    <div class="progress">
                        <div class="bar" data-percentage="75">
                        </div>
                    </div>
                    <small>C/C++</small>

                    <div class="pad45 hidden-desktop"></div>
                </div>
                {#            <!--testimonial-->#}
                {#            <div class="span4 pad15">#}
                {#                <div class="testimonial1">#}
                {#                    <p><i class="fa fa-comments fa-4x pull-left hue"></i>#}
                {#                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.#}
                {#                        Suspendisse potenti.#}
                {#                        Vivamus purus arcu, commodo cursus egestas et, dictum lobortis dui. Curabitur at mi eu mi#}
                {#                        sollicitudin faucibus at at libero.</p>#}
                {#                </div>#}
                {#                <div class="center">#}
                {#                    <p>#}
                {#                        <small>QUOTE AUTHOR</small>#}
                {#                    </p>#}
                {#                </div>#}
                {#                <div class="pad45 hidden-desktop"></div>#}
                {#            </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block strip %}
    <!--strip-->
    <div class="strip">
        <h1 class="center">Get A Free Quote</h1>
{#        <h3 class="center about_strip">Ecilisis venenatis risus, suspendisse ac nec et. Nulla sed mauris, congue duis#}
{#            proin#}
{#            nonummy. Elementum phasellus#}
{#            mauris sed nulla sed, egestas feugiat a dictum libero vivamus purus arcu, commodo cursus egestas et.</h3>#}
{#        <div class="pad45"></div>#}

        <a href="/contact" class="big_button">Contact Us Today</a>
        <div class="pad25"></div>
    </div>
    <!--/strip-->
{% endblock %}


{% block script %}
    <!-- skills -->
    <script>
        //<![CDATA[
        setTimeout(function () {
            $('.progress .bar').each(function () {
                var me = $(this);
                var perc = me.attr("data-percentage");
                var current_perc = 0;
                var progress = setInterval(function () {
                    if (current_perc >= perc) {
                        clearInterval(progress);
                    } else {
                        current_perc += 1;
                        me.css('width', (current_perc) + '%');
                    }
                    me.text((current_perc) + '%');
                }, 20);
            });
        }, 300);
        //]]>
    </script>
{% endblock %}