{% extends 'base.html' %}


{% block container_intro_wrapper %}
    <!--banner-->
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">
{#                <h1>BPO</h1>#}
                <h1 class="title">Business Process Outsourcing - BPO</h1>

                <h1 class="intro">
                    Our <span class="hue">BPO services</span> incorporate all business processes occurring in a
                    company’s day-to-day operations:
                    <label>Data Input & Correction</label>
                    <label>Finance & human resource management</label>
                    <label>Membership Application & Member Services</label>
                    <label>Customer Service Center</label>
                    <label>Data Entry</label>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

<div class="pad30"></div>
{% block container_wrapper %}

    <div class="container wrapper">
        <div class="inner_content">

            <div class="row">
                <div class="span9 pad15">

                    <!-- slider starts -->
                    <div id="nslider" class="nivoSlider">
                        <!-- add your images here -->
                        <img src="/static/img/service-pic7.jpg" alt="" title="#nivocaption1"/>
                        <img src="/static/img/service-pic6.jpg" alt="" title="#nivocaption2"/>
                    </div>

                    <!-- add your captions here -->
                    <div id="nivocaption1" class="nivo-html-caption">PGS</div>
                    <div id="nivocaption2" class="nivo-html-caption">AI Technology</div>

                    <h2><span>Electronic Data Processing</span></h2>
                    <p>EDP services use automated methods to process commercial data. HUIYU HI-TECH provides EDP services
                        to process large volumes of similar information such as stock updates applied to inventory,
                        banking transactions applied to account and customer master files, booking and ticketing
                        transactions for an airline's reservation system, or utility company service billing for the use
                        of gas, electricity or water.

                        <label>Our EDP services are highly specialized but once established can simplify data processing and
                        enable customers with complex operations to rely upon common conventions and interfaces.</label></p>
                    <h2><span>Financial</span></h2>
                    <p>HUIYU HI-TECH offers financial support services that enable our customers to offload things like
                        credit card processing and general application functions. We specifically offer a dedicated team
                        of specialists to assist with financial tracking and processing, such as the following:

                        <label>(1)Application image processing, data input, and cardholder information upkeep</label>
                        <label>(2)Automated credit approval processing</label>
                        <label>(3)Applicants’ credit scoring processing</label>
                        <label>(4)Credit card billing</label>
                        <label>(5)Direct marketing and rewards processing</label>
                        <label>(6)Insurance and loan application processing</label>
                        <label>(7)Customer service and call center management</label>
                    </p>

                </div>

                <!-- sidebar -->

                <div class="span3 marg-topminus1">
                    <h4><span>Information Technology Outsourcing</span></h4>
                    <p>These Services Include:</p>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check colour"></i> Electronic Data Processing</li>
                        <li><i class="fa-li fa fa-check colour"></i> Financial</li>
                    </ul>

                    <h5>News</h5>
                    {#                    <p>Watch this space for all of our news and current updates.</p>#}
                    <div class="pad30"></div>
                    <div class="col_full">

                        <div id="slider_small">
                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s1.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s1.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s2.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s2.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s3.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s3.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sl-prev3" class="widget-scroll-prev3"><i class="fa fa-chevron-left white"></i></div>
                        <div id="sl-next3" class="widget-scroll-next3"><i
                                class="fa fa-chevron-right white but_marg"></i>
                        </div>

                        <div class="pad15"></div>
                        <blockquote>Watch this space for all of our news and current updates.
                        </blockquote>

                        <p>
                            <a href="#" class="zocial icon twitter"></a>
                            <a href="#" class="zocial icon facebook"></a>
                            <a href="#" class="zocial icon googleplus"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//page-->
{% endblock %}

<!-- up to top -->
<a href="#"><i class="go-top hidden-phone hidden-tablet fa-fa-angle-double-up"></i></a>
<!--//end-->
{% block script %}
    <!-- scripts -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.touchSwipe.min.js"></script>
    <script src="/static/js/jquery.mousewheel.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>

    <!-- slider -->
    <script src="/static/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            $('.nivoSlider').nivoSlider({
                effect: 'random',
                animSpeed: 500,
                pauseTime: 5000,
                directionNav: true,
                controlNav: true,
                pauseOnHover: false,
                manualAdvance: true
            });
        });
        //]]>
    </script>

    <!-- carousel -->
    <script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            var portfolioCarousel = $("#slider_small");
            portfolioCarousel.carouFredSel({
                width: "100%", height: "auto",
                circular: false, responsive: true, infinite: false, auto: false,
                items: {
                    width: 231, visible: {min: 1, max: 1}
                },
                mousewheel: true,
                swipe: {onMouse: true, onTouch: true},
                prev: {button: "#sl-prev3", key: "left"},
                next: {button: "#sl-next3", key: "right"},
                onCreate: function () {
                    $(window).on('resize', function () {
                        portfolioCarousel.parent().add(portfolioCarousel).css('height', portfolioCarousel.children().first().outerHeight() + 'px');
                    }).trigger('resize');
                }
            });
        });
        //]]>
    </script>
{% endblock %}


