{% extends 'base.html' %}
{% block fullwidthbanner %}
    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>

                <!-- Slide 1 -->
                <li data-transition="slideright">
{#                    <img src="{{ banner1.img }}" alt=""/>#}
{#                     <div class="caption lfl stl bg" data-x="20" data-y="60" data-speed="800" data-start="700"#}
{#                         data-easing="easeOutExpo">#}
{#                        <h2 class="rev-title big white">{{ banner1.para1 }}<br>{{ banner1.para2 }}</h2>#}
{#                    </div>#}
{#                    <div class="caption lfl stl rev-text rev-left" data-x="left" data-y="190" data-speed="800"#}
{#                         data-start="1100" data-easing="easeOutExpo">#}
{#                        <h3 class="hidden-phone rev-title ">{% autoescape off %}{{ banner1.para3 }}{% endautoescape %}</h3>#}
{#                    </div>#}
                     <img src="{{ banner1.img }}" alt=""/>
                     <div class="caption lfl stl bold bg rev-left " data-x="-100" data-y="120" data-speed="800" data-start="1000"
                         data-easing="easeOutExpo">
                        <h2 class="rev-title big bold ft">{{ banner1.para1 }}<br>{{ banner1.para2 }}</h2>
                    </div>
{#                     <div class="caption stl rev-text rev-left" data-x="-100" data-y="260" data-speed="800" data-start="2100"#}
{#                         data-easing="easeOutExpo">#}
{#                        <h3 class="hidden-phone rev-title rev-title2 bold ft">{% autoescape off %}{{ banner1.para3 }}{% endautoescape %}</h3>#}
{#                    </div>#}
                    <div class="caption stl rev-text rev-left" data-x="-60" data-y="260" data-speed="800"
                         data-start="1800" data-easing="easeOutExpo">
                        <h3 class="hidden-phone rev-title2">{% autoescape off %}{{ banner1.para3 }}{% endautoescape %}</h3>
                    </div>
                </li>

                <!-- Slide 2 -->
                <li data-transition="slideright">
                    <img src="{{ banner2.img }}" alt=""/>
                     <div class="caption lfl stl bold bg rev-left " data-x="-100" data-y="120" data-speed="800" data-start="1000"
                         data-easing="easeOutExpo">
                        <h2 class="rev-title big bold ft">{{ banner2.para1 }}</h2>
                    </div>
                     <div class="caption sfb rev-left" data-x="-100" data-y="260" data-speed="800" data-start="2100"
                         data-easing="easeOutExpo">
                        <h3 class="rev-title2 bold ft">{{ banner2.para2 }}</h3>
                    </div>
                </li>

                <!-- Slide 3 -->
                <li data-transition="slideright">
                    <img src="{{ banner3.img }}" alt=""/>
                     <div class="caption sft stl" data-x="center" data-y="105" data-speed="1000" data-start="700"
                         data-easing="easeOutExpo">
                        <h3 class="rev-title bold">{{ banner3.para1 }}</h3>
                    </div>
                     <div class="caption lfl stl rev-title-sub" data-x="center" data-y="240" data-speed="800"
                         data-start="1100" data-easing="easeOutExpo">
                        {{ banner3.para2 }}
                    </div>
                </li>

            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!-- // END REVOLUTION SLIDER -->
{% endblock %}

{% block container_intro_wrapper %}
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">

                <!--welcome-->
                <div class="welcome_index">
                    We look to create value by establishing long term, <span class="hue">win-win relationships</span>
                    with our customers,
                    employees and shareholders alike. So our promise to our stakeholders is that we will provide
                    world-class IT consulting and outsourcing services that drive operational cost savings and improved
                    service levels, and do so in a manner that is customer-centric and marked by innovation and
                    integrity.
                </div>
                <!--//welcome-->
            </div>
        </div>
    </div>
    <!--//banner-->
{% endblock %}

{% block container_wrapper %}
    <div class="container wrapper">
        <div class="inner_content">
            <div class="pad45"></div>

            <!--info boxes-->
            <div class="row">
                <div class="span3">
                    <div class="tile">
                        <div class="intro-icon-disc cont-large"><i class="fa fa-hezuo intro-icon-large"></i></div>
                        <h6>
                            <small>TCS</small>
                            <br><a href="/tcs"><span>Technical Consulting Services</span></a></h6>
                        <p>Enable our clients to cost effectively leverage
                            the expertise and optimize the use of information technology to achieve their
                            business objectives.</p>
                    </div>
                    <div class="pad25"></div>
                </div>

                <div class="span3">
                    <div class="tile tile-hot">
                        <div class="intro-icon-disc cont-large"><i class="fa fa-wb intro-icon-large"></i></div>
                        <h6>
                            <small>ITO</small>
                            <br><a href="/ito"><span>IT Outsourcing Services</span></a></h6>
                        <p>Designed to improve resource allocation and
                            utilization, which allows management to focus resources on the company’s core operations.</p>
                    </div>
                    <div class="pad25"></div>
                </div>

                <div class="span3">
                    <div class="tile">
                        <div class="intro-icon-disc cont-large"><i class="fa fa-sitemap  intro-icon-large"></i></div>
                        <h6>
                            <small>BPO</small>
                            <br><a href="/bpo"><span>Business Process Outsourcing</span></a></h6>
                        <p>BPO services incorporate all business processes occurring in a
                            company’s day-to-day operations: Data Input & Correction ……</p>
                    </div>
                    <div class="pad25"></div>
                </div>

                <div class="span3">
                    <div class="tile">
                        <div class="intro-icon-disc cont-large"><i class="fa fa-globe  intro-icon-large"></i></div>
                        <h6>
                            <small>PGS</small>
                            <br><a href="/pgs"><span>Product Globalization Services</span></a></h6>
                        <p>Established a long and illustrious
                            record of success with some of the most recognized and respected names globally in the IT
                            industry.</p>
                    </div>
                    <div class="pad25"></div>
                </div>
            </div>

            <!--//info boxes-->
            <div class="row">
                <!--col 1-->
                <div class="span12">
                    <div class="row">
                        <div class="pad25 hidden-phone"></div>

                        <div class="span4">
                            <h1>Recent News</h1>
                            <h4>Hui Yu appears in the media frequently.
                                Watch this space for all of our news and current updates.</h4>
                            <p>HuiYu is currently relied upon to provide world-class IT services to industry giants
                                in the information technology and communications industry.</p>

{#                            <a href="#" class="btn btn-primary  btn-custom btn-rounded">view detail</a>#}
                            <div class="pad45"></div>
                        </div>
                        <!--column 2 slider-->
                        <div class="span8 pad15 col_full2">

                            <div id="slider_home">
                                {% for r in recentwork.projs %}
                                <div class="slider-item">
                                    <div class="slider-image">
                                        <div class="hover_colour">
                                            <a href="{{ r.file.url }}" data-rel="prettyPhoto">
                                                <img src="{{ r.file.url }}" alt=""/></a>
                                        </div>
                                    </div>
                                    <div class="slider-title">
                                        <h3><a href="#">{{ r.para1 }}</a></h3>
                                        <p>{{ r.para2 }}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            <div id="sl-prev" class="widget-scroll-prev"><i class="fa fa-chevron-left white"></i></div>
                            <div id="sl-next" class="widget-scroll-next"><i
                                    class="fa fa-chevron-right white but_marg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//page-->

        <div class="pad25 hidden-desktop"></div>
    </div>
{% endblock %}