{% extends 'base.html' %}
<!--page-->
<!--banner-->
{% block container_intro_wrapper %}
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">
                {#                <h1>Work</h1>#}
                <h1 class="title">Mobile Solutions</h1>
                <h1 class="intro">With the recent adoption of the smartphone, mobile technology goes beyond email and
                    texting.

                    The application and enterprise solutions around mobility is essential for business to stay
                    competitive.

                    Let HUIYU HI-TECH develop your next set of mobility solutions.</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block container_wrapper %}
    <div class="container wrapper">
        <div class="inner_content">
            <div class="pad30"></div>
            <div class="row">
                <div class="span4">
                    <h2><span>Mobile</span></h2>
                    <p class="lead">We design and build user-centered elegant tools that unlock the amazing capabilities
                        of mobile technology.</p>

                    <h4><span>Services</span></h4>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-globe colour"></i> UI Design</li>
                        <li><i class="fa-li fa fa-pencil colour"></i> Web Hosting</li>
                        <li><i class="fa-li fa fa-laptop colour"></i> IOS & Android Development</li>
                        <li><i class="fa-li fa fa-laptop colour"></i> H5 Development</li>
                    </ul>
                    <div class="pad15"></div>

                    <p>We enable our clients to reach their customers and help businesses work more effectively by
                        gaining a deep understanding of the challenges they face. We leverage research and innovation to
                        craft experiences that inspire users.</p>

                    <div class="pad15"></div>
{#                    <a href="#" class="btn btn-info  btn-medium btn-rounded">LAUNCH SITE</a>#}

                    <div class="pad45 clear-fix"></div>

{#                    <div class="portfolio-links">#}
{#                        <a href="#"><span class="fa-stack fa-lg">#}
{#						<i class="fa fa-angle-left fa-stack-1x fa-inverse"></i>#}
{#						</span></a>#}
{##}
{#                        <a href="#"><span class="fa-stack fa-lg">#}
{#						<i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>#}
{#						</span></a>#}
{#                    </div>#}

                    <div class="pad25"></div>
                </div>

                <div class="span8 pad15">
                    <div class="hover_colour">
                        <a href="/static/img/portfolio/single_1.jpg" data-rel="prettyPhoto">
                            <img src="/static/img/portfolio/single_1.jpg" alt=""/></a></div>
                    <div class="pad25"></div>
                </div>
                <div class="pad25"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block related_proj %}
<!--related projects-->
<div class="strip2">
    <h1>Related Projects</h1>
    <h3 class="center about_strip">The following cases are about the mobile solutions.</h3>

    <div class="container wrapper">
        <div class="inner_content">
            <div class="inner_content col_full">

                <div id="slider_related">
                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s1.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s1.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s2.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s2.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s3.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s3.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s4.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s4.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s5.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s5.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s1.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s1.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s7.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s7.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="slider-image">
                            <div class="hover_colour">
                                <a href="/static/img/large/s8.jpg" data-rel="prettyPhoto[portfolio1]">
                                    <img src="/static/img/small/s8.jpg" alt=""/></a>
                            </div>
                            <a class="related_link" href="#">Item Link</a>
                        </div>
                    </div>
                </div>
                <div id="sl-prev2" class="widget-scroll-prev2"><i class="fa fa-chevron-left white"></i></div>
                <div id="sl-next2" class="widget-scroll-next2"><i class="fa fa-chevron-right white but_marg"></i></div>
            </div>
            <!--//projects-->
        </div>
    </div>
</div>
{% endblock %}
<!-- up to top -->
<a href="#"><i class="go-top hidden-phone hidden-tablet fa fa-angle-double-up"></i></a>
<!--//end-->
{% block script %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.touchSwipe.min.js"></script>
    <script src="/static/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>

    <script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            var portfolioCarousel = $("#slider_related");
            portfolioCarousel.carouFredSel({
                width: "100%", height: "auto",
                circular: false, responsive: true, infinite: false, auto: false,
                items: {
                    width: 230,
                    visible: {min: 1, max: 5}
                },
                swipe: {onMouse: true, onTouch: true},
                prev: {button: "#sl-prev2", key: "left"},
                next: {button: "#sl-next2", key: "right"},
                onCreate: function () {
                    $(window).on('resize', function () {
                        portfolioCarousel.parent().add(portfolioCarousel).css('height', portfolioCarousel.children().first().outerHeight() + 'px');
                    })
                            .trigger('resize');
                }
            });
        });
        //]]>
    </script>
{% endblock %}