{% extends 'base.html' %}


{% block container_intro_wrapper %}
    <!--banner-->
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">
{#                <h1>PGS</h1>#}
                <h1 class="title">Product Globalization Services - PGS</h1>

                <h1 class="intro">
                    As a pioneer in product globalization services, HUIYU HI-TECH has established a long and illustrious
                    record of success with some of the most recognized and respected names globally in the IT industry.

                    Customers seeking globalization and localization services can count on our comprehensive staged
                    international and local services - from software design, development and translation, to
                    post-production activities such as testing and DTP.

                    We also collaborate with our customers to better understand business requirements and establish
                    required terminologies for emerging technologies.
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

<div class="pad30"></div>
{% block container_wrapper %}

    <div class="container wrapper">
        <div class="inner_content">

            <div class="row">
                <div class="span9 pad15">

                    <!-- slider starts -->
                    <div id="nslider" class="nivoSlider">
                        <!-- add your images here -->
                        <img src="/static/img/service-pic8.jpg" alt="" title="#nivocaption1"/>
                        <img src="/static/img/service-pic4.jpg" alt="" title="#nivocaption2"/>
                    </div>

                    <!-- add your captions here -->
                    <div id="nivocaption1" class="nivo-html-caption">BPO</div>
                    <div id="nivocaption2" class="nivo-html-caption">Operation & Maintain</div>

                    <h2><span>Global Services</span></h2>
                    <p>Our expertise in product globalization is measured through our many successes reflecting massive
                        quantities.
                        For example: 150M+ translated words in more than 28 languages; More than 300 person-years of
                        development experience in double-byte character sets (DBCS); and 100+ person-years of language
                        verification and testing.
                    </p>
                    <h2><span>Asian Market</span></h2>
                    <p>HUIYU HI-TECH provides a full range of international multilingual services including software
                        design, development, testing and translation – collectively designed to facilitate successful
                        and on-time product launches for our clients.
                        With years of experience in the Asian market, we have processed millions of words in 40+
                        languages and conducted more than 150 person-years of language verification and testing.
                    </p>

                </div>

                <!-- sidebar -->

                <div class="span3 marg-topminus1">
                    <h4><span>Product Globalization Services</span></h4>
                    <p>These Services Include:</p>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check colour"></i> Global Services</li>
                        <li><i class="fa-li fa fa-check colour"></i> Asian Market</li>
                    </ul>

                    <h5>News</h5>
                    {#                    <p>Watch this space for all of our news and current updates.</p>#}
                    <div class="pad30"></div>
                    <div class="col_full">

                        <div id="slider_small">
                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s1.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s1.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s2.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s2.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s3.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s3.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sl-prev3" class="widget-scroll-prev3"><i class="fa fa-chevron-left white"></i></div>
                        <div id="sl-next3" class="widget-scroll-next3"><i
                                class="fa fa-chevron-right white but_marg"></i>
                        </div>

                        <div class="pad15"></div>
                        <blockquote>Watch this space for all of our news and current updates.
                        </blockquote>

                        <p>
                            <a href="#" class="zocial icon twitter"></a>
                            <a href="#" class="zocial icon facebook"></a>
                            <a href="#" class="zocial icon googleplus"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//page-->
{% endblock %}

<!-- up to top -->
<a href="#"><i class="go-top hidden-phone hidden-tablet fa-fa-angle-double-up"></i></a>
<!--//end-->
{% block script %}
    <!-- scripts -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.touchSwipe.min.js"></script>
    <script src="/static/js/jquery.mousewheel.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>

    <!-- slider -->
    <script src="/static/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            $('.nivoSlider').nivoSlider({
                effect: 'random',
                animSpeed: 500,
                pauseTime: 5000,
                directionNav: true,
                controlNav: true,
                pauseOnHover: false,
                manualAdvance: true
            });
        });
        //]]>
    </script>

    <!-- carousel -->
    <script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            var portfolioCarousel = $("#slider_small");
            portfolioCarousel.carouFredSel({
                width: "100%", height: "auto",
                circular: false, responsive: true, infinite: false, auto: false,
                items: {
                    width: 231, visible: {min: 1, max: 1}
                },
                mousewheel: true,
                swipe: {onMouse: true, onTouch: true},
                prev: {button: "#sl-prev3", key: "left"},
                next: {button: "#sl-next3", key: "right"},
                onCreate: function () {
                    $(window).on('resize', function () {
                        portfolioCarousel.parent().add(portfolioCarousel).css('height', portfolioCarousel.children().first().outerHeight() + 'px');
                    }).trigger('resize');
                }
            });
        });
        //]]>
    </script>
{% endblock %}


