{% extends 'base.html' %}


{% block container_intro_wrapper %}
    <!--banner-->
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">
{#                <h1>TCS</h1>#}
                <h1 class="title">Technical Consulting Services - TCS</h1>

                <h1 class="intro">
                    Our <span>wide-ranging consulting</span> services enable our clients to cost effectively leverage
                    the expertise
                    of an industry giant and optimize the use of information technology to achieve their business
                    objectives.

                    With a constantly changing landscape of business opportunities, <span
                        class="hue">HUIYU HI-TECH </span>is able to seamlessly
                    adapt and allow our clients to remain competitive. We provide the necessary IT skillset to match
                    operational requirements and help our customers complete projects on time and budget.
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

<div class="pad30"></div>
{% block container_wrapper %}

    <div class="container wrapper">
        <div class="inner_content">

            <div class="row">
                <div class="span9 pad15">

                    <!-- slider starts -->
                    <div id="nslider" class="nivoSlider">
                        <!-- add your images here -->
                        <img src="/static/img/large/2.jpg" alt="" title="#nivocaption1"/>
                        <img src="/static/img/large/1.jpg" alt="" title="#nivocaption2"/>
                        <img src="/static/img/large/3.jpg" alt="" title="#nivocaption3"/>
                        <img src="/static/img/large/4.jpg" alt="" title="#nivocaption4"/>
                    </div>

                    <!-- add your captions here -->
                    <div id="nivocaption1" class="nivo-html-caption">Caption One</div>
                    <div id="nivocaption2" class="nivo-html-caption">Caption Two</div>
                    <div id="nivocaption3" class="nivo-html-caption">Caption Three</div>
                    <div id="nivocaption4" class="nivo-html-caption">Caption Four</div>

                    <h2><span>Product and Application Development</span></h2>
                    <p>By drawing experience from all industries, we develop custom solutions that meet challenges and
                        solve business problems. Our development approach adopts standard methodologies such as Agile or
                        Waterfall, mastering each of the phases in strategy, requirement, design, development, testing,
                        and deployment. Our ongoing application support programs include intensive communication,
                        clarification and technical assistance to ensure that all participants are in sync, tracked and
                        fully monitored.</p>
                    <h2><span>Testing and Validation Services</span></h2>
                    <p>Our world-class testing services are delivered by a team of seasoned engineers and experts who
                        follow rigorous testing processes to ensure that products and applications function at an
                        optimum level, giving our clients assurance and peace of mind.</p>
                    <h2><span>ERP Services</span></h2>
                    <p>Leveraging our technical expertise to deliver world-class ERP solutions, HUIYU HI-TECH service
                        teams provide Oracle and SAP implementation and maintenance services that our global clients
                        have come to rely upon.</p>
                    <h2><span>Modernization Services</span></h2>
                    <p>As better technology and more efficient frameworks are developed, HUIYU HI-TECH can deliver a
                        higher caliber of service based on our advanced knowledge of IT operations and business
                        requirements. From Java updates to COBOL programming to cloud migrations, we provide smooth
                        transitions and help our customers enjoy the benefits of modern technology innovations.</p>
                    <h2><span>Professional IT Staffing & Augmentation</span></h2>
                    <p>By demonstrating our ability to gain trust and confidence, HUIYU HI-TECH continually works with
                        clients to provide qualified technical resources for IT projects. Our world class recruiting
                        team begins by evaluating customer IT requirements and then determines the best match of talent
                        to ensure true value for our clients.</p>
                </div>

                <!-- sidebar -->

                <div class="span3 marg-topminus1">
                    <h4><span>Technical consulting services</span></h4>
                    <p>Technical consulting services provide the following:</p>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check colour"></i> Product and Application Development</li>
                        <li><i class="fa-li fa fa-check colour"></i> Testing and Validation Services</li>
                        <li><i class="fa-li fa fa-check colour"></i> ERP Services</li>
                        <li><i class="fa-li fa fa-check colour"></i> Modernization Services</li>
                        <li><i class="fa-li fa fa-check colour"></i> MProfessional IT Staffing & Augmentation</li>
                    </ul>

                    <h5>News</h5>
                    {#                    <p>Watch this space for all of our news and current updates.</p>#}
                    <div class="pad30"></div>
                    <div class="col_full">

                        <div id="slider_small">
                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s1.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s1.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s2.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s2.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-image">
                                    <div class="hover_colour">
                                        <a href="/static/img/large/s3.jpg" data-rel="prettyPhoto"><img
                                                src="/static/img/large/s3.jpg"
                                                alt=""/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sl-prev3" class="widget-scroll-prev3"><i class="fa fa-chevron-left white"></i></div>
                        <div id="sl-next3" class="widget-scroll-next3"><i
                                class="fa fa-chevron-right white but_marg"></i>
                        </div>

                        <div class="pad15"></div>
                        <blockquote>Watch this space for all of our news and current updates.
                        </blockquote>

                        <p>
                            <a href="#" class="zocial icon twitter"></a>
                            <a href="#" class="zocial icon facebook"></a>
                            <a href="#" class="zocial icon googleplus"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//page-->
{% endblock %}

<!-- up to top -->
<a href="#"><i class="go-top hidden-phone hidden-tablet fa-fa-angle-double-up"></i></a>
<!--//end-->
{% block script %}
    <!-- scripts -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.touchSwipe.min.js"></script>
    <script src="/static/js/jquery.mousewheel.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>

    <!-- slider -->
    <script src="/static/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            $('.nivoSlider').nivoSlider({
                effect: 'random',
                animSpeed: 500,
                pauseTime: 5000,
                directionNav: true,
                controlNav: true,
                pauseOnHover: false,
                manualAdvance: true
            });
        });
        //]]>
    </script>

    <!-- carousel -->
    <script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            var portfolioCarousel = $("#slider_small");
            portfolioCarousel.carouFredSel({
                width: "100%", height: "auto",
                circular: false, responsive: true, infinite: false, auto: false,
                items: {
                    width: 231, visible: {min: 1, max: 1}
                },
                mousewheel: true,
                swipe: {onMouse: true, onTouch: true},
                prev: {button: "#sl-prev3", key: "left"},
                next: {button: "#sl-next3", key: "right"},
                onCreate: function () {
                    $(window).on('resize', function () {
                        portfolioCarousel.parent().add(portfolioCarousel).css('height', portfolioCarousel.children().first().outerHeight() + 'px');
                    }).trigger('resize');
                }
            });
        });
        //]]>
    </script>
{% endblock %}


